#about h1 {
	color: #f26522;
	font-family: helvetica,arial,sans-serif;
	font-weight: bolder;
	font-size: 2em;
	text-align: left;
}

#about h2 {
	color: #f26522;
	font-family: helvetica,arial,sans-serif;
	font-weight: bolder;
	font-size: 1em;
	text-align: left;
}

#about p {
	margin-bottom: 25px;
}

#about #about_content {
	width: 720px;
	margin: auto;
	text-align: left;
}