#help h1 {
	color: #f26522;
	font-family: helvetica,arial,sans-serif;
	font-weight: bolder;
	font-size: 2em;
	text-align: left;
}

#help p {
	margin-bottom: 25px;
}

#help #help_content {
	width: 720px;
	margin: auto;
	text-align: left;
}

#help a.orange {
	color: #f26522;
	font-family: helvetica,arial,sans-serif;
	font-weight: bolder;
	font-size: 1em;
	text-align: left;
}