#ios h1 {
	color: #f26522;
	font-family: helvetica,arial,sans-serif;
	font-weight: bolder;
	font-size: 2em;
	text-align: left;
}

#ios h2 {
	color: #f26522;
	font-family: helvetica,arial,sans-serif;
	font-weight: bolder;
	font-size: 1em;
	text-align: left;
}

#ios p {
	margin-bottom: 25px;
}

#ios #ios_content {
	width: 720px;
	margin: auto;
	text-align: left;
}

#ios #rig_ipad {
  float: right;
}

#ios #app_store_badge {
  float: left;
  margin-bottom: 35px; 
}